header {
  background-color: #64CCC5;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2355b9b9' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2345a5ac' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%233692a0' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23267e93' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23176B87' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 99%;
} 

.img-logo {
  width: 300px;
  height: 100px;
}

body {
  font-family: 'Oswald', sans-serif;
  text-align: left;
  background-color: #001C30;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300192d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

nav li {
  float: left;
} 

nav li a {
  display: block;
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 5px;
}

nav li a:hover {
  background-color: #176B87;
  border-radius: 15px;
transition: .3s;
}

.card {
    width: 30%;
    margin: 15px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 15px rgba(255, 255, 255, 0.688);
    cursor: default;
    transition: all 400ms ease;
    text-align: center;
  }
  .card img {
    width: 100%;
    height: 210px;
  }
  .regi {
    width: 20%;
    display: flex;
    max-width: 1100px;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all 400ms ease;
  }
  .registroa {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background: #DAFFFB;
    border-radius: 15px;
    text-align: center;
    color: #176B87;
  }
  form .usuario {
    position: relative;
    border-bottom: 1px solid #ccc;
    margin: 30px 0;
    background-position: center;
    left: 5px;  
    margin-right: 5px;
  }
  /* Estilos para el contenedor personalizado */
.custom-file {
  position: relative;
  display: inline-block;
}

/* Estilo para el campo de entrada de archivos oculto */
.custom-file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

  

  
  
  .usuario input {
    width: 70%;
    padding: 0 5px;
    height: 20xpx;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: rgb(0, 0, 0);

  }
  
  .usuario label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #6e6c6c;
    transform: translateY(-50%);
    font-size: 11px;
    pointer-events: none;
    transition: 1s;
  }
  
  .usuario span::before {
    content: '';
    position: relative;
    top: 200px;
    left: 0;
    width: 50%;
    height: 2px;
    background: red;
    transition: .5s;
  }
  
 
    
  
  .container {
    width: 100%;
    display: flex;
    max-width: 2000px;
    align-items: center;
  }
  
.submit {
    margin-bottom:10px ;
    border: 1px solid #176B87;
    padding: 5px 15px;
    border-radius: 25px;
    transition: .5s;
}

.submit:hover{
  background-color: #176B87;
  padding: 10px 35px;
  transition: .5s;
  color: #fff;
}
.submit:active{
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,94,247,1)17.8%, rgba(2,245,255,1)100.2%);
}


@media (max-width: 790px) {
  header {
    width: 100%;
  }
  .inl {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
  nav li a {
    float: center;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .img-logo {
    width: 160px;
    height: 70px;
  }
  .registroa {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background: #DAFFFB;
    border-radius: 15px;
    text-align: center;
    color: #176B87;
  }
  
}
  