*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #555764;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-content{
    background: linear-gradient(
        50deg,
        rgba(40,42,55,1) 50%,
        rgba(40,42,55,0.7)
        ),
        url(fondo/imagee.jpg);
       
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
        width: 1000px;
        border-radius: 25px;
}

.form-content h1{
    color: #f4f6f9;
    font-size: 40px;
    margin-top: 25px;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    font-size: 17px;
    color: #959aab;
    margin-bottom: 10px;
}

input, textarea {
    padding: 17px 14px;
    background-color: #333646;
    border: 0;
    font-size: 15px;
    color: #f4f6f9;
    margin-bottom: 20px;
    border-radius: 10px;
}
a{
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 5px;
    transition: .3s;
    border-radius: 5px;
}

a:hover{
    background-color: #176B87;
  border-radius: 15px;
transition: .3s;
font-size: 20px;
}
:focus {
    outline: 1px solid #1E92E9;
}

.btn {
    background-color: #1E92E9;
    width: 150px;
    align-self: flex-end;
    cursor: pointer;
}

.btn:hover {
    background-color: #1E92E9;
}

@media(max-width:991px){
    body {
        padding: 30px;
    }
    .form-content{
        width: 100%;
    }
    form {
        width: 100px;
    }
}