@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #001C30;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300192d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); 
}


header{
    background-color: #64CCC5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2355b9b9' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2345a5ac' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%233692a0' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23267e93' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23176B87' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10% / 50%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    width: 300px;
    height: 100px;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}


.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #03201e;
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: #DAFFFB;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 100px 0 45px 0;
}

.header-txt{
    width: 40%;
    padding-right: 25px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color: #DAFFFB;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 18px;
    color:#283235;
}

.header-img {
    width: 60%;
}
.hamburger{
    height: 100%;
    width: 100%;
}

.botones {
    display: flex;
    margin-top: 70px;
}

.btn-1{
    display: inline-block;
    background: linear-gradient(90deg, #64CCC5 0%, #176B87 100%);
    padding: 10px 35px;
    margin-right: 20px;
    color: #DAFFFB;
    border-radius: 25px;
    transition: .5s;
}

.btn-2{
    display: inline-block;
    border: 1px solid #176B87;
    padding: 10px 35px;
    margin-right: 20px;
    color: #fdfdfd;
    border-radius: 25px;
}

.btn-1:hover {
    background: linear-gradient(90deg, #ff3149 0%, #001C30 100%);
    transition: .99s;
}
.btn-2:hover{
    border: 1px solid #DAFFFB;
}

.icon {
    width: 20px;
}

.product-menu {
    padding: 50px 0 150px 0;
}

.title {
    color: #FDFDFD;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.product {
    display: flex;
    position: relative;
}

.hoja {
    right: 0;
    position: absolute;
    bottom: -130px;
    width: 150px;
}

.menu-nav{
    display: flex;
    margin-bottom: 45px;
}

.tab {
   margin-right: 20px; 
   text-align: center;
   padding: 10px 35px;
   border-radius: 25px;
   color: #e4bdbd;
   font-size: 16px;
   font-weight: 800;
   background-color: #176B87;
   cursor: pointer;
}

.tab.active {
    background: linear-gradient(90deg, #64CCC5 0%, #176B87 100%);
    color: #fbb13c;
}

.tab.active::after{
    content: "";
    position: absolute;
    width: 100%;
}

.tab-content{
    display: none;
}

.tab-content.visible{
    display: initial;
}

.box-container-1,
.box-container-2,
.box-container-3 {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
}

.box-1,
.box-2,
.box-3 {
    background: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 1px 15px rgba(255, 255, 255, 0.688);
    display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
    display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
    display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
    display: inline-block;
}

.image {
    margin-bottom: 20px;
    text-align: center;
}

.image img {
    width: 180px;
}

.content h3 {
    font-size: 20px;
    color: #2fb4cc;
}

.content p {
    font-size: 15px;
    color: #343434;
    line-height: 2;
    font-size: 15px;
    padding: 15px 0;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color:#334;
    font-size: 16px;
}

.btn:hover {
    background-color: rgb(220, 20, 60);
    border-color: rgb(220, 20, 60);
    color: #FDFDFD;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #334;
}

.price {
    font-size: 14px;
    color: #A0A0A0;
}

.buy{
    padding: 1px 15px 0px 15px;
    border-radius: 15px;
    background: linear-gradient(90deg, #95B52C 0%, #586E25 100%);
}

.buy img {
    width: 15px;
}

.load-more {
    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 25px;
    border: 1px solid #64CCC5;
    font-size: 16px;
    cursor: pointer;
    color: #FDFDFD;
    background-color: #176B87;

}

.load-more:hover {
    background: linear-gradient(90deg, #176B87 0%, #64CCC5 100%);
    border-color: rgb(240, 240, 240);
    color: #FDFDFD;
    
}

.boton-coments {
    margin-top: 50px;
    display: inline-block;
    padding: 13px 35px;
    border-radius: 25px;
    border: 1px solid #64CCC5;
    font-size: 16px;
    cursor: pointer;
    color: #FDFDFD;
    background-color: #176B87;

}

.boton-coments:hover {
    background: linear-gradient(90deg, #176B87 0%, #64CCC5 100%);
    border-color: rgb(240, 240, 240);
    color: #FDFDFD;
    
}
.info {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/bg-info.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.info-content {
    display: flex;
    position: relative;
}

.info-txt{
    width: 60%;
    margin-top: 85px;
}

.info-txt h2 {
    color:#FDFDFD;
    font-size: 55px;
    margin-bottom: 25px;
}

.info-txt p {
    font-size: 20px;
    color: #A0A0A0;
    margin-bottom: 25px;
}
.info-sec {
    display: flex;
}

.info-1 {
    display: flex;
}

.info-1 img {
    width: 80px;
}

.info-2 {
    margin-left: 25px;
}

.info-2 h3 {
    color: #FDFDFD;
    font-size: 25px;
}
.info-2 p {
    color: #ffffff;
    font-size: 16px;
}

.info-img {
    position: absolute;
    right: -55px;
    top: -103px;
}
.info-img img {
    width: 650px;
}

.footer {
    padding: 150px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.logo-2{
    width: 150px;
}

.links h4{
    color: #fdfdfd;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a{
    color: #FDFDFD;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}
.socials {
    display: flex;
}
.social{
    margin:  10px;
    height: 40px;
    width: 40px;
    border: 1px solid #1b4fdd;
    border-radius: 60%;
}
.social:hover {
    background-color:#62c3ca;
}
.social img {
    margin: 8px 0 0 10px;
}


@media(max-width: 790px ) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }
    .menu .navbar ul li a {
        font-size: 18px;
        padding: 20px;
        color: #fdffff;
        display: block;
        text-transform: uppercase;
        transition: .5s;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #001C30;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }
    
    .menu .navbar ul li a:hover {
        color: #fffbfb;
    }
    .menu-icono {
        width: 25px;
        transition: .5s;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }

    .header-content {
        flex-direction: column;
        padding: 100px 30px 30px 30px;
    }
    
    .header-txt{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .header-txt h1 {
        font-size: 40px;
    }


    .botones{
        flex-direction: column;
        align-items: center;
    }

    .btn-1 {
        margin: 0 0 20px 0;
    }

    .btn-2 {
        margin: 0 0 20px 0;
    }

    .header-img{
        width: 100%;
        margin-top: 45px;
    }

    .product-menu{
        padding: 30px;
    }

    .title {
        margin-bottom: 20px;
    }

    .hoja{
        display: none;
    }


    .menu-nav {
        flex-direction: column;
        align-items: center;
    }

    .tab{
        margin-bottom: 25px;
    }
    
    .box-container {
        grid-template-columns: 1fr;
    }

    .box .image{
        height: 200px;
    }

    .info{
        padding: 30px;
        height: 80vh;
    }

    .info-txt h2 {
        font-size: 40px;
    }
    .info-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info.txt {
        width: 100%;
        margin-top: 0px;
    }

    .info-txt p {
        margin-bottom: 5px;
    }

    .info-sec{
        flex-direction: column;
        padding: 0px 35px;
    }


    .info-1{
        flex-direction: column;
        align-items: center;
        padding-top: 15px;
    }

    .info-2{
        margin-top: 10px;
        margin-left: 0;
    }

    .info-img img {
        display: none;
    }
    .socials{
        justify-content: center;
    }

    .social img{
        margin: 8px 0 0 0;
    }

    .footer{
        padding: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0 10px 0;
    }


}