/* Estilos CSS */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #001C30;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%2300192d' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E"); 
}

header{
    background-color: #64CCC5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%2355b9b9' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2345a5ac' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%233692a0' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23267e93' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23176B87' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10% / 50%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
}

p {
    line-height: 1.6;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    font-weight: bold;
}

.header-content {
    display: flex;
    align-items: center;
    padding: 100px 0 45px 0;
}

.header-txt{
    width: 40%;
    padding-right: 25px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    font-weight: 800;
    color: #DAFFFB;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 18px;
    color:#283235;
}

.header-img {
    width: 60%;
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    width: 300px;
    height: 100px;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}


.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #03201e;
    display: block;
    text-transform: uppercase;
}

.menu .navbar ul li a:hover {
    color: #DAFFFB;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fdffff;
    display: block;
    text-transform: uppercase;
    transition: .5s;
}
.menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #001C30;
    display: none;
}

.menu .navbar ul li {
    width: 100%;
}

.menu .navbar ul li a:hover {
    color: #fffbfb;
}
.menu-icono {
    width: 25px;
    transition: .5s;
}
#menu:checked ~ .navbar {
    display: initial;
}

